* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*SIEMPRE COLOCAR MARGIN,PADDING Y BOX-S AL COMENZAR MI CSS*/
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  height: 100%;
}

.header {
  grid-area: header;
  display: flex;
  background-color: rgb(0, 0, 0);
  height: auto;
  padding: 10px 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky; /*MANTIENE FIJO EL HEADER*/
  top: 0; /*MANTIENE FIJO EL HEADER*/
  left: 0; /*MANTIENE FIJO EL HEADER*/

  &__menu ul {
    display: flex;
    list-style: none;

    ul li a {
      border-radius: 20px;
      border: 2px solid #85e0f0;
      padding: 10px;
      margin: 10px;
      color: rgb(255, 255, 255);
      display: block;
    }

    &__menu ul li a:hover {
      background-color: rgb(25, 146, 146); /*EFECTO EN MI MENU*/
    }

    .header__menu ul li a:hover {
      background-color: rgb(0, 0, 0); /*EFECTO EN MI MENU*/
    }
    .header__menu ul {
      display: flex;
      list-style: none;
    }
    .header__menu ul li a {
      border-radius: 20px;
      border: 2px solid #85e0f0;
      padding: 10px;
      margin: 10px;
      color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  img {
    width: 200px; /*ANCHO*/
    height: 100px; /*ALTO*/
    margin: auto;
  }
}

.main {
  grid-area: main;
  border: solid 1px;
}

.intro {
  background-position: center;
  display: flex;
  flex-direction: column; /*SIRVE PARA COLOCAR UNO DEBAJO DE OTRA EJEMPLO TITULO, PARRAFO, BOTON ETC.*/
  justify-content: flex-start;
  align-items: center;
  background: cover;

  & {
    grid-area: intro;
    background-color: rgb(164, 250, 178);
    display: flex;
  }

  & .intro_title {
    margin-top: 450px;
    background-color: rgb(187, 250, 247);
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 10px;
  }

  & .intro_txt {
    background-color: rgb(187, 250, 247);
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
  }

  &_btn {
    /*BOTON DE IMAGEN INICIO*/

    background: rgb(250, 203, 203);
    padding: 10px 15px;
    border-radius: 70px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
}
.introImg {
  background-image: url(../IMAGENES/INDEX5.jpg); /*IMAGEN DE INICIO PERS RIENDO*/
  background-position: center;
  display: flex;
  flex-direction: column; /*SIRVE PARA COLOCAR UNO DEBAJO DE OTRA EJEMPLO TITULO, PARRAFO, BOTON ETC.*/
  align-items: center;
  background: cover;
}

.animate__animated.animate__bounce {
  animation-iteration-count: infinite;
}

.btn {
  /*BOTON DE IMAGEN INICIO*/
  list-style: none;
  margin: 50px;
}

#video {
  margin: 50px auto 50px;
  text-align: center;

  & .video__title {
    background: turquoise;
  }

  & .video__txt {
    margin: 25px auto 25px;
  }
}

/*SECCION CONTACTO -----------------------------------------------------------------------------------------------------*/

.formulario {
  background: black;
  color: white;
  text-align: center;
}

.titleFomulario {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}
.titleContacto {
  background-color: turquoise;
  color: #000000;
}

/*SECCION MIS TRABAJOS -------------------------------------------------------------------------------------------*/

.titleTrabajos {
  background-color: turquoise;
  color: black;
  text-align: center;
  padding-top: 5px;
  margin-top: 50px;
}

/*SECCION SERVICIOS ------------------------------------------------------------------------------------------------*/

.imgService {
  display: flex;
  margin-top: 50px;
  width: 450px;
  height: 250px;
  margin-left: 475px;
}
.imgPasos {
  display: flex;
  margin-top: 50px;
  width: 700px;
  height: 1600px;
  margin-left: 350px;
}

.titleService {
  background-color: turquoise;
  color: black;
  text-align: center;
  padding-top: 5px;
  margin-top: 50px;
}

/*SECCION SOBRE MI ---------------------------------------------------------------------------------------------------*/

.titleMi {
  background-color: turquoise;
  color: black;
  text-align: center;
  padding-top: 5px;
  margin-top: 50px;
}

#sobreMi {
  display: flex;
  align-items: center;
}

#sobreMi .sobreMi__img {
  padding: 25px;
}

#sobreMi .sobreMi__img .imgMi {
  width: 550px;
  height: auto;
}

#sobreMi .sobreMi__txt {
  padding: 25px;
}

/*ESTE ES MI FOOTER ---------------------------------------------------------------------------------------------------*/

.footer {
  grid-area: footer;
  border: solid 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-footer_Iconos-menu {
  list-style: none; /*elimina los puntos de una lista*/
  display: flex;
}

.facebook {
  width: 40px;
  height: auto;
  margin: 0 10px;
}
.instagram {
  width: 40px;
  height: auto;
  margin: 0 10px;
}

.email {
  width: 40px;
  height: auto;
  margin: 0 10px;
}

.whatsapp {
  width: 40px;
  height: auto;
  margin: 0 10px;
}

.footerTxt {
  display: flex;
}
/*IMAGENES GRID*/

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
/*AJUSTE AUTOMATICO EN LAS FOTOS */
.galeria-grid img {
  width: 100%;
  height: auto;
}

/*EFECTOS DE GRID, IMG GRIS */
.galeria-grid img {
  filter: grayscale(1);
}
/* EFECTO AL PASAR EL MOUSE, SE VEN DE COLOR*/
.galeria-grid img:hover {
  filter: saturate(1);
}
/*DEFINO FILAS Y COLUMNAS*/
.galeria-grid img:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgb(79, 206, 238); /* EFECTO BORDE CON SOMBRA*/
  border-radius: 6px;
  align-items: center;
}
.grid-container {
  display: grid;
  gap: 10px;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "header"
    "intro"
    "footer";
  grid-template-rows: 110px auto 75px;
}

.header {
  grid-area: header;
  background-color: rgb(0, 0, 0);
  display: flex;
}

.intro {
  grid-area: intro;
  background-color: white;
  display: flex;
}
.footer {
  grid-area: footer;
  background-color: rgb(173, 177, 173);
  display: flex;
}

/*ACA COMIENZA MI MEDIA QUERY*/ /* min = desde y max = hasta */

@media (max-width: 600px) {
  .header {
    grid-area: header;
    display: flex;
    background-color: rgba(27, 196, 179, 0.959);
    height: auto;
    padding: 10px 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky; /*MANTIENE FIJO EL HEADER*/
    top: 0; /*MANTIENE FIJO EL HEADER*/
    left: 0; /*MANTIENE FIJO EL HEADER*/
  }

  .header__menu ul li a:hover {
    background-color: rgb(0, 0, 0); /*EFECTO EN MI MENU*/
  }
  .header__menu ul {
    display: flex;
    list-style: none;
  }
  .header__menu ul li a {
    border-radius: 20px;
    border: 2px solid #85e0f0;
    padding: 5px;
    margin: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  img {
    width: 150px; /*ANCHO*/
    height: 90px; /*ALTO*/
    margin: auto;
  }

  .main {
    grid-area: main;
    border: solid 1px;
  }

  .introImg {
    background-image: url(../IMAGENES/INDEX5.jpg); /*IMAGEN DE INICIO PERS RIENDO*/
    background-position: center;
    display: flex;
    flex-direction: column; /*SIRVE PARA COLOCAR UNO DEBAJO DE OTRA EJEMPLO TITULO, PARRAFO, BOTON ETC.*/
    align-items: center;
    background: cover;
  }
  .intro {
    grid-area: intro;
    background-color: rgb(164, 250, 178);
    display: flex;
  }

  .intro .intro_title {
    margin-top: 170px;
    background-color: rgb(187, 250, 247);
    padding: 5px;
    margin-bottom: 25px;
    border-radius: 10px;
    display: flex;
    margin-top: 400px;
  }

  .intro .intro_txt {
    background-color: rgb(187, 250, 247);
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    display: flex;
  }

  .intro_btn {
    /*BOTON DE IMAGEN INICIO*/
    margin-top: 20px;
    background: rgb(187, 250, 247);
    padding: 10px 15px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
  }

  .btn {
    /*BOTON DE IMAGEN INICIO*/
    list-style: none;
  }
}
